.dialog-title {
    text-align: center;
    width: 100%;
    font-weight: 600;
  }
  
  .full-width {
    width: 100%;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  mat-dialog-actions {
    padding: 16px;
  }