<h2 mat-dialog-title class="details-title">Detalhes do Aluno</h2>

<mat-dialog-content class="details-content">
    <div class="details-item"><span class="label">Nome:</span><span>{{ data.name }}</span></div>
    <div class="details-item"><span class="label">CPF:</span><span>{{ data.cpf }}</span></div>
    <div class="details-item"><span class="label">Celular:</span><span>{{ data.cellPhone }}</span></div>
    <div class="details-item"><span class="label">Data de Nascimento:</span><span>{{ data.dateOfBirth | date:
            'dd/MM/yyyy' }}</span></div>
    <div class="details-item"><span class="label">Escola:</span><span>{{ data.school.description }}</span></div>
    <div class="details-item"><span class="label">Situação:</span><span>{{ situacao }}</span></div>
    <div class="details-item"><span class="label">Data de Cadastro:</span><span>{{ data.dateRegister | date:
            'dd/MM/yyyy' }}</span></div>
    <div class="details-item"><span class="label">Data de Alteração:</span><span>{{ data.dataUpdate ? (data.dataUpdate |
            date: 'dd/MM/yyyy') : '-' }}</span></div>

    <h3 class="section-title">Endereço</h3>
    <div class="details-item"><span class="label">Rua:</span><span>{{ data.address.street }}</span></div>
    <div class="details-item"><span class="label">Número:</span><span>{{ data.address.number }}</span></div>
    <div class="details-item"><span class="label">Complemento:</span><span>{{ data.address.complement || '-' }}</span>
    </div>
    <div class="details-item"><span class="label">Bairro:</span><span>{{ data.address.neighborhood }}</span></div>
    <div class="details-item"><span class="label">Cidade:</span><span>{{ data.address.city }}</span></div>
    <div class="details-item"><span class="label">Estado:</span><span>{{ data.address.state }}</span></div>
    <div class="details-item"><span class="label">CEP:</span><span>{{ data.address.zipCode }}</span></div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-flat-button color="primary" mat-dialog-close style="background-color: #d32f2f; color: white;">Fechar</button>
</mat-dialog-actions>